<div class="Registar">
    <h1 class="titulo">Registar</h1>
    <div class="Info">
        <p class="textos">Primeiro Nome</p>
        <input class="text" type="text" name="De" value=""><br>
        <p class="textos">Ultimo Nome</p>
        <input class="text" type="text" name="Para" value=""><br>
        <p class="textos">E-mail</p>
        <input class="text" type="text" name="Assunto" value=""><br>
        <p class="textos">Password</p>
        <input class="text" type="text" name="Mensagem" value=""><br>
        <p class="textos">Username</p>
        <input class="text" type="text" name="Mensagem" value=""><br>
        <p class="textos">Nome</p>
        <input class="text" type="text" name="Mensagem" value=""><br>
        <p class="textos">Foto</p>
        <input class="text" type="text" name="Mensagem" value=""><br>
        <button type="submit">Click Me!</button>
        <!--warteyr-->
    </div>
</div>