.titulo {
    color: rgb(90, 114, 136);
}

.Registar {
    margin-top: 100px;
    position: absolute;
    margin-left: 550px;
}

.text {
    width: 800px;
    height: 30px;
}

.submit {
    margin-left: 730px;
    margin-top: 30px;
}