<header class="barra_menu">
  <ul>
    <li><a routerLink="/">Início</a></li>
    <li><a routerLink="profile" *ngIf="auth.loggedIn">Perfil</a></li>
    <li><a routerLink="registar" *ngIf="!auth.loggedIn">Registar</a></li>
    <li><a routerLink="email" *ngIf="auth.loggedIn">Enviar Email</a></li>
    <li><a routerLink="contactos" *ngIf="auth.loggedIn">Contacte-nos</a></li>
    <li><a routerLink="login-form" *ngIf="!auth.loggedIn">Entrar</a></li>
    <li><a id="login" (click)="auth.login()" *ngIf="!auth.loggedIn" style="margin-left:1280px">Entrar com auth0</a></li>
    <li><a (click)="auth.logout()" *ngIf="auth.loggedIn">Sair</a></li>
  </ul>
</header>