.Email {
    margin-top: 100px;
    position: absolute;
    margin-left: 700px;
}

.titulo {
    color: rgb(90, 114, 136);
    position: absolute;
}

.Info {
    padding-top: 30px;
}

.textos {
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(48, 51, 65);
    position: relative;
    padding-top: 20px;

}