.Email {
    margin-top: 100px;
    position: absolute;
    margin-left: 550px;
}

.titulo {
    color: rgb(90, 114, 136);
}

.text {
    width: 800px;
    height: 30px;
}

.text2 {
    width: 800px;
    height: 30px;
}

.submit {
    margin-left: 750px;
    margin-top: 30px;
}